/* [class*="col"]{
  background-color: red;
  height: 100px;
} */

body {
  font-family: 'Lora', serif;
  min-width: 222px;
}
.white{
  color: white;
}
.padding_bottom_10px {
  padding-bottom: 10px;
}
.display_none {
  display: none;
}
/* menu */
.logo_menu {
  width: 130px;
  vertical-align: middle;
}
.fa-bars {
  font-size: 2em;

  vertical-align: middle;
}
.no_list {
  list-style: none;
}
.no_list li {
  display: inline-block;
  padding: 3px;
}
.no_list a{
  color: #0069FF;
}
.no_list a:hover {
  color: lightblue;
}

.header_top {
  height: 90px;
  line-height: 90px;
}
@media screen and (max-width: 992px) {
  .display_no_lg {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .hamburgher {
    display: none;
  }
}
/* /menu */
/* banner */
.header_bottom {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.banner {
  margin-top:   40px;
}
h1{
  font-size: 3.5em;
}
/* /banner */
