/* [class*="col"]{
  background-color: red;
  height: 100px;
} */

body {
  font-family: 'Lora', serif;
  min-width: 222px;
}
.white{
  color: white;
}
.background_white{
  background-color: white;
}
.margin_bottom_5px {
  margin-bottom: 5px;
}
.margin_top_40px {
  margin-top: 40px;
}
.margin_right_20px{
  margin-right: 20px;
}
.padding_top_20px {
  padding-top: 20px;
}
.padding_top_40px {
  padding-top: 40px;
}
.display_none {
  display: none;
}
/* menu */
.logo_menu {
  width: 130px;
  vertical-align: middle;
}
.fa-bars {
  font-size: 2em;

  vertical-align: middle;
}
.no_list {
  list-style: none;
}
.no_list li {
  display: inline-block;
  padding: 3px;
}
.no_list a{
  color: #0069FF;
}
.no_list a:hover {
  color: lightblue;
}

.header_top {
  height: 90px;
  line-height: 90px;
}
@media screen and (max-width: 992px) {
  .display_no_lg {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .hamburgher {
    display: none;
  }
}
/* /menu */
/* banner */
.header_bottom {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}


.banner {
  margin-top:   40px;
  margin-bottom: 40px;
}
h1{
  font-size: 3.5em;
}
.background_white h2 {
  font-size: 2.5em;
}
.background_white h3 {
  color: lightblue;
  font-size: 2em;
}
.account{
  height: 50px;
  width: 100%;
  background-color: #0069FF;
  color: white;
  border-radius: 4px;
  margin-top: 5px;
  border: none;
}
.google {
  height: 50px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-top: 5px;
  border: 1 px solid black;
}
/* sistemare  */
.logo_google {
  width:20px;
}
.background_white p{
  margin-top:   20px;
  margin-bottom: 20px;
}
.margin_bottom_40px{
  margin-bottom: 40px;
}
  /* /sistemare */
/* /banner */
/* main */
/* loghi */
.loghi {
  width: 100%;
  background-color: #F3F5F9;
}
.loghi h4 {
  text-transform: uppercase;
  color: grey;
  margin-top: 40px;
  text-align: center;
}
.loghi img {
  height:60px;
}

@media screen and (min-width:992px) {
.loghi_center {
text-align: center;
}
}
/* /loghi */
/* deploy */
.deploy h2 {
  text-align: center;
}
.deploy ul{
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;

}
  .border_left {
    border-left: 1px solid black;
  }
.deploy li {
  padding: 5px 0;
  font-size: 1.2em;
  margin-right: 0
}
.deploy h4 {
  color: navy;
  padding: 10px 0;
}
/* /deploy */
/* designed */
.designed {
  background-color: #F3F5F9;
}
.designed h2 {
  font-weight: bold;
  font-size: 3em;
}
.designed p {
  font-size: 1.5em;
  margin-bottom: 80px;
}
.designed img {
  width: 60%;
  margin-bottom: 40px;
}
.fa-circle {
  font-size: 0.5em;
  padding: 7px;
  color: #0069ff;
}


/* /deploy */
/* feature */
.feature {
  padding-bottom: 150px;
  padding-top: 100px;
}
.feature h2
{
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  margin-top: 40px;
}

.feature h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.feature p {
  width: 60%;
  color: rgba(3,27,78,.7);
  margin-bottom: 20px;
}
.feature a {
  font-size: 1.3em;
  margin-right: 20px;
  text-decoration: none;
}

.feature img {
  margin-top: 40px;
}
/* /feature */
/* world */
.world {
  background-color: navy;
  color: white;
}
.world h2 {
  color: white;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 60%;
  margin: auto;
}
.world p {
  width: 100%;
}
.border_bottom {
  border-bottom: 1px solid white;
}
@media screen and (max-width:385px) {
 .world p{
  font-size: 0.6em;
}
.no_margin {
  margin-right: 0;
}
}
