/* [class*="col"]{
  background-color: red;
  height: 100px;
} */

body {
  font-family: 'Lora', serif;
  min-width: 222px;
}
.white{
  color: white;
}
.background_white{
  background-color: white;
}
.margin_bottom_5px {
  margin-bottom: 5px;
}
.padding_bottom {
  padding-bottom: 40px;
}
.margin_top_40px {
  margin-top: 40px;
}
.margin_right_20px{
  margin-right: 20px;
}
.padding_top_20px {
  padding-top: 20px;
}
.padding_top_40px {
  padding-top: 40px;
}

.display_none {
  display: none;
}
/* menu */
.logo_menu {
  width: 130px;
  vertical-align: middle;
}
.fa-bars {
  font-size: 2em;

  vertical-align: middle;
}
.no_list {
  list-style: none;
}
.no_list li {
  display: inline-block;
  padding: 3px;
}
.no_list a{
  color: #0069FF;
}
.no_list a:hover {
  color: lightblue;
}

.header_top {
  height: 90px;
  line-height: 90px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
@media screen and (max-width: 992px) {
  .display_no_lg {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .hamburgher {
    display: none;
  }
}
/* /menu */
/* banner */
.header_bottom {
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-top: 90px;

}


.banner {
  margin-top:   40px;
  margin-bottom: 40px;
}
.border {
  border: 1px solid white;
  border-radius: 6px;
}
h1{
  font-size: 3.5em;
  font-weight: bold;
}
.background_white h2 {
  font-size: 2.5em;
  font-weight: bold;
}
.background_white h3 {
  color: lightblue;
  font-size: 2em;
  font-weight: bold;
}
.account{
  height: 50px;
  width: 100%;
  background-color: #0069FF;
  color: white;
  border-radius: 4px;
  margin-top: 5px;
  border: none;
}
.google {
  height: 50px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-top: 5px;
  border: 1 px solid black;
}

.logo_google {
  width:20px;
  position: absolute;
  left: 5%;
}
.background_white p{
  margin-top:   20px;
  margin-bottom: 20px;
}
.margin_bottom_40px{
  margin-bottom: 40px;
}
  /* /sistemare */
/* /banner */
/* main */
/* loghi */
.loghi {
  width: 100%;
  background-color: #F3F5F9;
}
.loghi h4 {
  text-transform: uppercase;
  color: grey;
  margin-top: 40px;
  text-align: center;
  padding-top: 60px;
}
.loghi img {
width: 100%;
}
.loghi ul {
  list-style: none;
  padding-top: 60px;
  }
.loghi li {
  display: inline-block;
  width:15%;
  padding-right:15px;
}
@media screen and (max-width:992px) {
.loghi li {
  width: 48%;
}
}


/* @media screen and (min-width:992px) {
.loghi_center {
text-align: center;
} */
}
/* /loghi */
/* deploy */
.deploy h2 {
  text-align: center;
  font-weight: bold;
  color: red;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
}
.deploy p {
  font-weight: bold;
  color: #4E5F83;
  width:85%;
  margin: auto;
  padding-bottom: 40px;
}
.deploy ul{
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;

}
  .border_left {
    border-left: 1px solid black;
  }
.deploy li {
  padding: 5px 0;
  font-size: 1.2em;
  margin-right: 0
}
.deploy h4 {
  color: navy;
  padding: 10px 0;
}
/* /deploy */
/* designed */
.designed {
  background-color: #F3F5F9;
}
.designed h2 {
  font-weight: bold;
  font-size: 3em;
}
.deploy a {
  display: block;
  text-decoration: none;
  padding: 10px 0;
  color: #031B4E;
}
.designed p {
  font-size: 1.5em;
  margin-bottom: 80px;
}
.designed img {
  width: 60%;
  margin-bottom: 40px;
}
.freccia_sx_developer {
  font-size: 3.5em;
  margin-right: 8%;
  color: lightgrey;
}
.freccia_dx_developer{
  font-size: 3.5em;
  margin-left:8%;
}
.fa-circle {
  font-size: 0.5em;
  padding: 7px;
  color: #0069ff;
}


/* /deploy */
/* feature */
.feature {
  padding-bottom: 150px;
  padding-top: 100px;
}
.feature h2
{
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  margin-top: 40px;
}

.feature h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.feature p {
  width: 60%;
  color: rgba(3,27,78,.7);
  margin-bottom: 20px;
}
.feature a {
  font-size: 1.3em;
  margin-right: 20px;
  text-decoration: none;
}

.feature img {
  margin-top: 40px;
}
/* /feature */
/* world */
.world {
  background-color: navy;
  color: white;
}
.world h2 {
  color: white;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 60%;
  margin: auto;
}
.world p {
  width: 100%;
}
.border_bottom {
  border-bottom: 1px solid white;
}
@media screen and (max-width:385px) {
 .world p{
  font-size: 0.6em;
}
.no_margin {
  margin-right: 0;
}
}
@media screen and (min-width: 992px) {
  .padding_0 {
    padding: 0;
  }
}
/* /tabbelle */
/* rocker */
.rocker {
  background-color: #F3F5F9;
}
.rocker h2 {
  font-size: 3em;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 60px;
}
.rocker_box {

  background-color: white;
  margin:auto;
  width: 60%;
}
.rocker_box img {
  padding-top: 40px;
  padding-bottom: 20px;
}
.rocker_box p {
  font-size: 1.5em;
  color: rgba(3,27,78,.7);
  padding-bottom: 20px;
}


.foundetor p {
  font-size: 1.3em;
  line-height: 10px;
  font-weight: bold;
  padding: 0;
}
.frecce {
  position: relative;
}
.freccia_sx_rocker {
  position: absolute;
  font-size: 2em;
  left:-10%;
  display: inline-block;

}
.freccia_dx_rocker {
  position: absolute;
  font-size: 2em;
  right: -10%;
  display: inline-block;

}
.rocker_box a {
  text-decoration: none;
  font-weight: bold;
}
/* /rockerbox */
/* started */
.started {
  background-color: blue;
  width: 100%;
}
.started h2 {
  color: white;
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 40px;
  padding-top: 40px;
}
.btn_create {
  background-color: #FFFF;
  color: #0069FE;
  height: 60px;
  width: 250px;
  vertical-align:middle;
  line-height: 50px;
  margin-bottom: 40px;
}
.btn_create:active,
.btn_create:hover,
.btn_create:focus {
  background-color: #CCDAFE;
  color: #0069FE;
}

/* /rocker_box */
/* /main */
/* footer */
footer {
  background-color: #010E28;
  width: 100%;
  color:#9498B3;
}
footer img {
  padding-bottom: 20px;
}
footer i {
  padding: 6px;
  font-size: 1.3em;
}
footer h4 {
  color:white;
  font-weight: bold;
}
footer a {
  display: block;
  text-decoration: none;
  color: #9498B3;
}
.write_fish {
  background-color: white;
  height: 90px;
  vertical-align: middle;
  padding-top:33px;
  border: 1 px solid white;
  border-radius: 6px;
}
.fish_mobile{
position: fixed;
bottom: 0;
margin-left: 55%;
width: 100%;
z-index: 2;

}

.fish_mobile img {
  height: 90px;
  background-color: lightblue;
  padding-top: 15px;
  border: 1 px solid lightblue;
  border-radius: 6px;
}
.fish {
  position: relative;
}
.number {
  position: absolute;
  top:-5px;
  left: 70px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: red;
  border: 2px solid white;
  border-radius: 50%;
}
.number p {
  padding-top: 3px;
}
